@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

.container{
    margin: auto;
    width: 100%;
    padding: 12px 22px;
    height:28rem;
    overflow: hidden;
}
.wrapper{
    width: 90%;
    height: 27rem;
    img{
        border-radius: 15px;
    }
}


.home_slider_main{
    position: relative;
}
.home_slider_main.slick-dots li{
    margin: 0%;
}

.home_slider_main.slick-dots li button:before{
    font-size: 14px;
    gap: 1px;
    color: green;
}

.home_slider_main.slick-dots li button{ 
    position: absolute;
    bottom: 0px;
    left: 50%; 
    margin-bottom: 2rem;
}
.home_slider_main.slick-dots li button:active::before{ 
    position: absolute;
    bottom: 0px;
    left: 50%; 
    margin-bottom: 2rem;
}

.info{
    position: absolute;
    top: 3.5rem;
    left: 3rem;
    z-index: 4;
    width: 55rem;

    h2{
        font-size: 3rem;
        color: rgba(31, 30, 30, 0.758);
        font-family: var(--font-quicksand);
        
    }
    p{
        font-size: 1.2rem;
        margin-top: 1rem;
        color: rgba(128, 128, 128, 0.875);
        letter-spacing: .5px;
    }
    
    .news_letter{
        position: relative;
        margin-top: 3.4rem;
        width: 25rem;
        height: 3rem;
        input[type='text']{
            z-index: 4;
            height: 100%;
            width: 100%;
            padding-left: 25px;
            border: none;
            border-radius: 5px;
            padding-right: 9.5rem;
            outline: none;
            &::placeholder{
                
            letter-spacing: 1px;
        }
    }
    button{
        position: absolute;
        right: 0px;
        top: 0%;
        background-color: #3bb77e;
        color: white;
        height: inherit;
        letter-spacing: 1px;
        width: 35%;
    }
}
}