.container {
  width: 100%;
  padding: 1rem 1.3rem;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  gap: 10px;
}
.container .image_section {
  width: 50%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 0.3rem;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.container .image_section .wrapper {
  border: 0.12px solid rgba(210, 207, 207, 0.607);
  width: 83%;
  height: 90vh;
  border-radius: 13px;
  margin: 0.2rem;
}
.container .image_section .detail_slider {
  width: 83%;
  height: 7.9rem;
  display: flex;
  gap: 2px;
  margin-right: 0.2rem;
  border: 0.3px solid #3bb77e;
  border-radius: 8px;
  padding: 0.29rem 0.001rem;
  background-color: white;
}
.container .image_section .detail_slider .boxes {
  display: flex;
  align-self: center;
  justify-content: center;
  width: 25%;
  outline: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  cursor: pointer;
  width: 98%;
  height: 98%;
  border-radius: 25px;
  padding: 1rem;
}
.container .image_section .detail_slider .boxes img {
  border-radius: 25px;
  width: 98%;
  height: 98%;
  transition: 0.2s ease-in-out;
}
.container .image_section .detail_slider .boxes img:hover {
  transform: scale(1.1);
}
.container .detail_section {
  width: 50%;
  height: 90vh;
  padding: 0.4rem;
  padding-left: 0.6rem;
  padding-right: 6.8rem;
}
.container .detail_section .badge {
  font-family: var(--font-quicksand);
  background-color: rgb(249, 204, 212);
  text-transform: capitalize;
  color: rgb(250, 87, 115);
  width: 4.7rem;
  font-size: 12.7px;
  padding: 0.3rem 0.1rem;
  font-weight: 800;
  text-align: center;
  border-radius: 3.6px;
}
.container .detail_section h2 {
  font-family: var(--font-quicksand);
  font-size: 2rem;
  padding-top: 1rem;
  color: black;
}
.container .detail_section .review_section {
  padding-top: 0.7rem;
  display: flex;
  gap: 6px;
  align-items: center;
  color: gray;
  font-family: var(--font-quicksand);
}
.container .detail_section .review_section .color svg {
  color: #3bb77e;
  fill: rgb(255, 187, 0);
}
.container .detail_section .review_section .colors svg {
  fill: rebeccapurple !important;
}
.container .detail_section .price_div {
  display: flex;
  gap: 15px;
  padding-top: 0.1rem;
  font-family: var(--font-quicksand);
}
.container .detail_section .price_div h2 {
  font-size: 3rem;
  color: #3bb77e;
}
.container .detail_section .price_div span {
  font-size: 0.65rem;
  padding-top: 0.7rem;
  padding-top: 1.7rem;
  color: rgb(241, 189, 55);
  font-weight: 600;
  padding-bottom: 1rem;
}
.container .detail_section .price_div span p {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: line-through;
  color: rgb(211, 209, 209);
}
.container .detail_section .description {
  font-family: var(--font-quicksand);
  padding: 0.78rem 0px;
  font-size: 14px;
  line-height: 17px;
  color: rgb(151, 150, 150);
  font-family: Lato, sans-serif;
}
.container .detail_section .sizes {
  font-family: var(--font-quicksand);
  font-weight: 600;
  font-size: 13px;
  display: flex;
  gap: 10px;
  color: rgb(90, 89, 89);
  align-items: center;
  margin: 1rem 0px;
}
.container .detail_section .sizes .active {
  background-color: #3bb77e;
  color: white;
  cursor: pointer;
}
.container .detail_section .sizes span {
  border-radius: 4px;
  color: rgb(160, 158, 158);
  font-family: var(--font-quicksand);
  padding: 0.3rem 0.6rem;
  transition: all 0.2s ease-in-out;
}
.container .detail_section .sizes span:hover {
  background-color: #3bb77e;
  color: white;
  cursor: pointer;
}
.container .detail_section .button_section {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0%;
  margin: 0px;
  margin-top: 2rem;
}
.container .detail_section .button_section input[type=number] {
  text-align: center;
  padding: 0.62rem 0.2rem;
  outline: none;
  border: 0.1px solid #3bb77e;
  border-radius: 4px;
}
.container .detail_section .button_section svg {
  transition: 0.3s all ease-in-out;
  fill: gray;
  border: 0.2px solid rgb(205, 204, 204);
  border-radius: 2px;
  font-size: 2.7rem;
  padding: 0.01rem 0.76rem;
  height: 2.5rem;
}
.container .detail_section .button_section svg:hover {
  transform: translateY(-4px);
  background-color: #3bb77e;
  fill: white;
  cursor: pointer;
  border: none;
}
.container .detail_section .button_section button {
  height: 2.5rem;
  background-color: #3bb77e;
  text-transform: capitalize;
  color: white;
  font-family: var(--font-quicksand);
  padding: 0.5rem 1rem;
  font-weight: bold;
  gap: 5px;
}
.container .detail_section .button_section button svg {
  padding: 0px;
  border: 0px solid rgb(205, 204, 204);
  fill: white;
  font-size: 1rem;
}

.bottom_detailed {
  width: 83%;
  border-radius: 15px;
  border: 0.1px solid rgba(163, 161, 161, 0.306);
  margin: 1rem 7.7rem;
  padding: 2rem;
  min-height: 50vh !important;
}
.bottom_detailed .bottom_detailed_header {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.bottom_detailed .bottom_detailed_header .boxes {
  border: 0.3px solid rgba(205, 201, 201, 0.308);
  padding: 0.5rem 1rem;
  border-radius: 50px;
  color: gray;
  font-weight: bold;
  font-size: 14px;
  font-family: var(--font-quicksand);
  cursor: pointer;
}
.bottom_detailed .bottom_detailed_header .boxes:hover {
  transition: 0.3s ease-in-out;
  transform: translateY(-3px);
  color: #3bb77e;
  box-shadow: 0.4px 0.5px 5px rgba(168, 167, 167, 0.4);
}
.bottom_detailed .bottom_detailed_header .active {
  transition: 0.19s ease-in-out;
  color: #3bb77e;
  box-shadow: 0.4px 0.5px 5px rgba(168, 167, 167, 0.4);
}
.bottom_detailed .bottom_detailed_data {
  margin-top: 1rem;
  font-size: 12.7px;
  padding-right: 1.6rem;
  font-family: var(--font-quicksand);
}
.bottom_detailed .bottom_detailed_data p {
  line-height: 26px;
  text-align: justify;
  color: rgb(120, 119, 119);
}
.bottom_detailed .bottom_detailed_data p h2 {
  padding: 1rem;
  margin-top: 0.7rem;
  font-family: var(--font-quicksand);
  padding-left: 0%;
}
.bottom_detailed .bottom_detailed_data p ul {
  width: 50%;
  padding-top: 1rem;
  padding-left: 1rem;
}
.bottom_detailed .bottom_detailed_data p ul .lsting {
  display: flex;
  gap: 50px;
  color: rgb(120, 119, 119);
  justify-content: space-between;
}
.bottom_detailed .bottom_detailed_data p ul .lsting p {
  width: 60%;
}
.bottom_detailed .bottom_detailed_data p ul .lsting li {
  color: rgb(120, 119, 119);
}
.bottom_detailed .table_tab_details {
  padding-top: 1rem;
  width: 90%;
  color: black;
  min-height: 60vh;
}
.bottom_detailed .table_tab_details .spec-table {
  color: black;
  width: 100%;
  border-collapse: collapse;
  border: 0.2px solid gray;
  font-family: var(--font-quicksand);
  font-size: 13.2px;
}
.bottom_detailed .table_tab_details .spec-table th,
.bottom_detailed .table_tab_details .spec-table td {
  padding: 8px;
  color: black;
  text-align: left;
}
.bottom_detailed .table_tab_details .spec-table th {
  background-color: #f2f2f2;
  color: black;
}
.bottom_detailed .table_tab_details .spec-table tbody tr td {
  border: 0.1px solid rgba(153, 153, 153, 0.32);
  color: black;
  padding-left: 1rem;
  font-family: var(--font-quicksand);
}
.bottom_detailed .vendors_data {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
}
.bottom_detailed .vendors_data .rev_con {
  color: black;
  margin: 1rem 0px;
  margin-top: -1rem;
  display: flex;
  gap: 15px;
  align-items: center;
  padding-left: 2px;
}
.bottom_detailed .vendors_data .rev_con h6 {
  color: #45d491;
  font-size: 13.7px;
  font-weight: 500;
  letter-spacing: 0.4px;
  color: black;
}
.bottom_detailed .vendors_data div {
  color: black;
  color: black;
}
.bottom_detailed .vendors_data div h6 {
  color: black;
  font-size: 12px;
}
.bottom_detailed .vendors_data div p {
  font-size: 13px;
  color: black;
}
.bottom_detailed .vendors_data p {
  font-size: 13.6px;
  line-height: 20px;
  font-family: var(--font-quicksand);
}
.bottom_detailed .reviews_data {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 1rem;
  font-family: var(--font-quicksand);
}
.bottom_detailed .reviews_data h4 {
  color: black;
}
.bottom_detailed .reviews_data p {
  color: black;
}
.bottom_detailed .reviews_data .box_container {
  color: black;
  transition: 0.1s ease-in-out;
  display: flex;
  padding: 1rem;
  gap: 12px;
  border: 0.1px solid rgba(173, 173, 173, 0.299);
}
.bottom_detailed .reviews_data .box_container:hover {
  box-shadow: 0.3px 0.4px 3px rgba(161, 160, 160, 0.361);
}
.bottom_detailed .reviews_data .box_container .date {
  display: flex;
  justify-content: space-between;
  color: black;
  padding: 8px 2px;
  color: rgb(173, 172, 172);
  font-size: 12px;
}
.bottom_detailed .reviews_data .box_container .data {
  width: 100%;
  font-family: var(--font-quicksand);
  text-align: justify;
  color: black;
  font-size: 14px;
}
.bottom_detailed .reviews_data .box_container .data .color {
  display: flex;
}
.bottom_detailed .reviews_data .box_container h4 {
  color: black;
}
.bottom_detailed .reviews_data .reviews_form form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  color: black;
}
.bottom_detailed .reviews_data .reviews_form form .text_area {
  outline: none;
  width: 45rem;
  padding: 1rem;
  height: 18rem;
  font-size: 15px;
}
.bottom_detailed .reviews_data .reviews_form form .text_area::-moz-placeholder {
  font-family: var(--font-quicksand);
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 1px;
}
.bottom_detailed .reviews_data .reviews_form form .text_area::placeholder {
  font-family: var(--font-quicksand);
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 1px;
}
.bottom_detailed .reviews_data .reviews_form form .text {
  width: 17rem;
  font-size: 15px;
  font-family: var(--font-quicksand);
  font-weight: 100;
  letter-spacing: 1px;
}
.bottom_detailed .reviews_data .reviews_form form .text lable {
  font-weight: 100;
  font-family: var(--font-quicksand);
  letter-spacing: 1px;
  font-size: 15px;
}
.bottom_detailed .reviews_data .reviews_form form button {
  background-color: #45d491;
  padding: 0.6rem 2rem;
  color: white;
}/*# sourceMappingURL=single.module.css.map */